# [submodule "prediction-market-mvp/contracts/lib/openzeppelin-contracts"]
# 	path = prediction-market-mvp/contracts/lib/openzeppelin-contracts
# 	url = https://github.com/OpenZeppelin/openzeppelin-contracts
# [submodule "prediction-market-mvp/contracts/lib/forge-std"]
# 	path = prediction-market-mvp/contracts/lib/forge-std
# 	url = https://github.com/foundry-rs/forge-std
